*.*~
*.pyc
.DS_Store
.vagrant
._*
pip-log.txt
ENV/
.idea/
djapian_spaces/
local_settings.py
Thumbs.db
distribute-*.tar.gz
*.local
*.swf
*.swp
*.bak

public_html/*
!/public_html/favicon.ico
!/public_html/robots.txt
!/public_html/css/
!/public_html/fancybox2/
!/public_html/images/
!/public_html/js/
!/public_html/shadowbox-3.0.3/
!/public_html/omniwindow
!/public_html/fonts/
/db/
/backup/
