{% extends "cms/base.html" %}

{% load cms_tags %}

{% block content %}
    {% include "block_cart.html" %}

    {% placeholder "content" %}

    <div id="ymaps-map-id_1345400191829580153800-contacts" class="yandex-map-container"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adabc022f5f1a8c89e32d7130dab8560ff19ad1442098fa5260d0af3a760953d2&amp;width=1200&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
	</div>
    
{% endblock %}
