{% load shop cart_tags thumbnail endless %}

{% paginate goods_list %}

{% if goods_list %}
    <div class="category-goods clear">
        {% for good in goods_list %}
            <div id="good_{{ good.pk }}" class="good2">
                <a class="image good-popup-trigger" href="#{{ good.get_absolute_url }}" title="{{ good.get_name }}" data-name="{{ good.pk }}" data-url="{{ good.get_absolute_url }}">
                    {% thumbnail good.image "130x130" padding=True as img %}
                        <img src="{{ img.url }}" width="130" height="130" title="{{ good.get_name }}" />
                    {% empty %}
                        <img src="{{ MEDIA_URL }}images/noimage.jpg" width="130" height="130" title="{{ good.get_name }}" />
                    {% endthumbnail %}
                </a>

                <div class="title">
                    <a class="good-popup-trigger" href="#{{ good.get_absolute_url }}" title="{{ good.get_name }}" data-name="{{ good.pk }}" data-url="{{ good.get_absolute_url }}">
                        {{ good.get_name }}
                    </a>
                </div>

                <div class="desc">
                    {% with good.get_custom_fields as custom_fields %}
                        {% if custom_fields %}
                            <div class="custom-fields">
                                {% for f in custom_fields.itervalues %}
                                    {% if f.value %}
                                        <div>
                                            {{ f.name }}: {{ f.value }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="quantity">Количество: {% cart_set_quantity good cart %}</div>

                <div class="price">{{ good.price|price }} р.</div>

                <div class="link">{% add_to_cart_link good cart %}</div>
            </div>

            <div id="good_popup_{{ good.pk }}" class="ow-closed good-popup">
                <a class="close-btn" href="#" title="Закрыть"></a>
            </div>

            {% if forloop.counter|divisibleby:"2" or forloop.last %}<div class="clear"></div>{% endif %}
        {% endfor %}

        {% show_more %} {# endless pagination #}
    </div>
{% else %}
    <h2 class="align-center">У нас новый сайт и эта рубрика ещё не заполнена.<br />
        Позвоните по телефону <a href="tel:8152602202">602-202</a>, чтобы узнать о наличии товаров.</h2>
{% endif %}


{# не удалять! #}

{% url good_view category.path 0 as good_zero_url %}

<a id="good_popup_trigger_0" class="good-popup-trigger" style="display: none;" href="#good_0" data-name="0" data-url="" data-zero-url=""></a>

<div id="good_popup_0" class="ow-closed good-popup">
    <a class="close-btn" href="#" title="Закрыть"></a>
</div>
