{% load shop pytils_numeral thumbnail %}

{# вишлист - товары #}
{% for item in wishlist.wishlist.get_items %}
    {% with item.product as good %}
        <div id="item_{{ good.pk }}" class="clear cart-good">
            <div class="title"><a href="{{ good.get_absolute_url }}">{{ good.get_name }}</a></div>
            <div class="image">
                {% thumbnail good.image "130x100" padding=True as img %}
                    <img src="{{ img.url }}" width="130" height="100" title="{{ good.get_name }}" />
                {% empty %}
                    <img src="{{ MEDIA_URL }}images/noimage.jpg" width="130" height="100" title="{{ good.get_name }}" />
                {% endthumbnail %}
            </div>
            <div class="desc">
                <p>Длина/Высота/Ширина (мм): <br />{% if good.dims %}<span class="dims">{{ good.dims }}</span>{% endif %}</p>
            </div>
            <div class="price"><p>Цена:</p><span class="pprice">{{ good.price|price }} р.</span></div>
            <div class="del">
                <a class="wishlist_del" title="Удалить" href="{% url remove_from_wishlist good.pk %}">
                    <img src="{{ MEDIA_URL }}images/cart_del.png" alt="Удалить" title="Удалить" />
                </a>
            </div>
            <div class="clear"></div>
        </div>
    {% endwith %}
{% endfor %}

<div class="clear"></div>
