{% extends 'cms/base.html' %}

{% load shop pytils_numeral %}

{% block title %}Спасибо за ваш заказ!{% endblock %}

{% block content %}

{# Шаг 3 -- Результат заказа #}

<h2>Спасибо за ваш заказ!</h2>

<div style="background: #fff;">
    <div class="blue-border p20">
        <p style="line-height: 200%;">
            {# если оплата карточкой #}
            {% if order.is_card_payment %}
                {% if order.is_paid and order.is_psbank_payment %}
                    {# при успешной оплате #}
                    Оплата прошла успешно, Ваш заказ принят.<br />
                    В ближайшее время с Вами свяжется наш менеджер, чтобы сообщить о доставке заказанных Вами товаров.<br />
                    О ходе выполнения Вашего заказа Вы всегда можете узнать в своей корзине, на вкладке <a href="{% url cart %}#orders">"Мои заказы"</a>.
                {% else %}
                    {% if order.is_await_approval_status %}
                        {# заказ ожидает проверки менеджером #}
                        Спасибо за Ваш заказ!
                        В самое ближайшее время наш менеджер проверит наличие заказанных вами товаров на складе, забронирует их для Вас и Вы сможете перейти к оплате.
                        Ссылка на страницу оплаты будет отправлена Вам на адрес электронной почты, который Вы указывали при регистрации на сайте: {{ request.user.email }}
                    {% else %}
                        {# вероятно, оплата не прошла #}
                        Оплата не прошла.<br />
                        Возникли какие-то сложности с оплатой, но мы всё равно приняли Ваш заказ.<br />
                        В ближайшее время с Вами свяжется наш менеджер, чтобы помочь Вам, если у Вас возникли какие-то трудности.<br />
                        Вы всегда можете повторно попробовать оплатить заказ в своей корзине, на вкладке <a href="{% url cart %}#orders">"Мои заказы"</a>.
                    {% endif %}
                {% endif %}
            {% endif %}

            {# если оплата наличными #}
            {% if order.is_cash_payment %}
                {% if order.is_unpaid %}
                    Ваш заказ принят.<br />
                    В ближайшее время с Вами свяжется наш менеджер, чтобы договориться о том, где Вы сможете оплатить товар и согласовать с Вами дату его доставки.<br />
                    О ходе выполнения Вашего заказа Вы всегда можете узнать в своей корзине, на вкладке <a href="{% url cart %}#orders">"Мои заказы"</a>.
                {% else %}
                    Статус заказа: {{ order.get_status_display }}.
                {% endif %}
            {% endif %}
        </p>
        <p><a href="{% url cart %}#orders">Мои заказы</a> | <a href="/">Главная страница магазина</a></p>
    </div>
</div>

{% endblock %}
