<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Popup</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/form.css" media="all" />
	<!--[if lte IE 6]>
    	<script type="text/javascript" src="{{ MEDIA_URL }}js/ie-png.js"></script>
     <![endif]-->
</head>

<body>
    {% block content %}
    {% endblock %}    
</body>
</html>
