{% extends 'cms/base.html' %}

{% block title %}Информация о проведенной оплате{% endblock %}

{% block content %}

<h2>Информация о проведенной оплате</h2>

<p>Наименование Интернет-магазина: <b>"Склад51"</b>.</p>
<p>Список товаров, оплаченных при помощи реквизитов карты: <b>{{ order.list_shopping|default:oper.desc }}</b></p>
<p>Адрес сайта Интернет-магазина: <b>http://sklad51.ru/</b></p>
<p>Номер Заказа: <b>{{ oper.order }}</b></p>
<p><b><a href="/kak-zakazat/">Порядок предоставления клиенту товаров</a></b></p>
<p>Дата операции: <b>{{ oper.timestamp }}</b></p>
<p>Стоимость Заказа: <b>{{ oper.amount }} руб.</b></p>
<p><b><a href="/kak-zakazat/">Порядок возврата товаров</a></b></p>
<p>Имя клиента: <b>{{ oper.name }}</b></p>
<p><b><a href="/kak-zakazat/">Порядок отмены оплаты Заказа</a></b></p>
<p>Код авторизации: <b>{{ oper.authcode }}</b></p>

{% endblock %}
