{% extends 'cms/base.html' %}
{% block content %}
    {% if vacancies %}
        {% for vacancy in vacancies %}
            <div class="vacancies clear">
                <a href="{% url vacancy_view vacancy.slug %}"><div class="position"><span>{{ vacancy.position }}</span></div></a>
                <div class="salary">{{ vacancy.salary }}</div>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="align-center">В настоящее время открытых вакансий нет</h2>
    {% endif %}
{% endblock %}
